<%- include('../partials/header.ejs') %>

<div class="content">
        <a href="/admin/users">Liste des utilisateurs</a>
        <a href="/admin/languages">Liste des langages</a>
</div>

<%- include('../partials/footer.ejs') %>`;